[user]
	name = GIWTO
	email = 3033291479@qq.com
	useConfigOnly = true
[core]
	quotepath = false
	autocrlf = true
	editor = notepad++
	longpaths = true
	trustctime = false
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.attributes_global
	ignorecase = true
	untrackedcache = true
[help]
	autocorrect = 30
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	sbtime = "!for k in `git branch|perl -pe s/^..//`;do echo `git show --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k|head -n 1`\\\\\\t$k;done|sort"
	sbrtime = "!for k in `git branch -r|perl -pe s/^..//`;do echo `git show --pretty=format:\"%Cgreen%ci %Cblue%cr%Creset\" $k|head -n 1`\\\\\\t$k;done|sort"
	ci = commit
	cm = commit --amend -C HEAD
	co = checkout
	st = status
	sts = status -s
	br = branch
	re = remote
	di = diff
	type = cat-file -t
	dump = cat-file -p
	lo = log --oneline
	ls = log --show-signature
	ll = log --pretty=format:'%h %ad | %s%d [%Cgreen%an%Creset]' --graph --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset %ad |%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset [%Cgreen%an%Creset]' --abbrev-commit --date=short
	alias = config --get-regexp ^alias\\.
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
	iac = "!giac() { git init && git add . && git commit -m 'Initial commit' ;}; giac"
[https]
	proxy = https://127.0.0.1:41001
[http]
	proxy = http://127.0.0.1:41001
	postBuffer = 655360000
	sslcainfo = C:\\Users\\wang\\AppData\\Local\\UGit\\ssl\\certs\\ca-bundle.trust.crt
	sslbackend = schannel
[credential "http://122.112.251.77:3680"]
	provider = generic
[init]
	defaultBranch = master
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff "text"]
	textconv = cat
[mergetool]
	keepBackup = false
[lfs]
	concurrenttransfers = 16
	fetchrecentrefsdays = 0
	pruneoffsetdays = 0
	dialtimeout = 3
	tlstimeout = 3
[merge "lfs-text"]
	driver = git lfs merge-driver --ancestor %O --current %A --other %B --marker-size %L --output %A --program 'git merge-file --stdout --marker-size=%%L %%A %%O %%B >%%D'
[rebase]
	backend = merge
[protocol]
	version = 1
[pull]
	rebase = false
[safe]
	directory = *

[oh-my-zsh]
hide-status = 1
hide-dirty = 1
[credential "helperselector"]
	selected = <no helper>
